<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ r.name }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="compact-html.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
      <header>
        <h1>{{ r.name }}</h1>
        <div id="contact">
          {% if (r.contact.email) { %}<div class="email"><a href="mailto:{{ RAW.contact.email }}">{{ RAW.contact.email }}</a></div>{% } %}
          {% if (r.contact.phone) { %}<div class="phone">{{ r.contact.phone }}</div>{% } %}
          {% if (r.contact.website) { %}<div class="website"><a href="{{ RAW.contact.website }}">{{ RAW.contact.website }}</a></div>{% } %}
        </div>
      </header>


{% if ( r.info.brief && r.info.brief.length ) { %}
      <section id="summary">
        {{ r.info.brief }}
      </section>
{% } %}


{% if ( r.skills && r.skills.sets && r.skills.sets.length ) { %}
      <section id="skills">
        <header>
        <h2><span class="fa fa-code"></span> Skills</h2><hr>
        </header>
        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th>Keywords</th>
            </tr>
          </thead>
          <tbody>
            {% r.skills.sets.forEach( function( skillset ) { %}
            <tr>
              <td style="width: 25%;">{{ skillset.name }}</td>
              <td class="keywords">{{ skillset.skills.join(', ') }}</td>
            </tr>
            {% }); %}
          </tbody>
        </table>
      </section>
{% } %}



{% if ( r.employment && r.employment.history ) { %}
      <section id="employment">
        <header>
        <h2><span class="fa fa-building" style="vertical-align: top;"></span> Employment</h2><hr>
        </header>



        {% r.employment.history.forEach( function( proj, idx, ar) { %}
          {% if( idx < 4 ) { %}
            <h3><em>{{ proj.position }}</em>, {{ filt.link( proj.employer, proj.url ) }} <span class="tenure">{{ proj.safe.start.format('YYYY-MM') }} &mdash; {{ proj.safe.end.format('YYYY-MM') }}<span></h3>
            <p style="clear: both;">{{ proj.summary }}</p>
            {% if( proj.highlights ) { %}
              <ul>
              {% proj.highlights.forEach( function( high, idx, ar) { %}
                <li>{{ high }}</li>
              {% }); %}
              </ul>
            {% } %}
          {% } else { %}

            {% if( idx === 4 ) { %}
            <h3>Previously... <span class="tenure">{{ r.employment.history[ r.employment.history.length - 1 ].safe.start.format('YYYY') }} &mdash; {{ proj.safe.end.format('YYYY') }}<span></h3>
            <p style="clear: both;">Prior to {{ r.employment.history[ 3 ].employer }}, I worked on a range of projects for companies large and small.</p>
            <ul>
            {% } %}


            <li>{{ proj.position }}, {{ proj.employer }}</li>


            {% if( idx === ar.length - 1 ) { %}
            </ul>
            {% } %}

          {% } %}
        {% }); %}



      </section>
{% } %}



{% if ( r.education && r.education.history ) { %}
      <section id="education">
        <header>
        <h2><span class="fa fa-mortar-board"></span> Education</h2><hr>
        </header>
        {% r.education.history.forEach( function( edu, idx, ar) { %}
          <h3>{{ edu.institution }} <span class="tenure">{{ edu.safe.start.format('YYYY') }} &mdash; {{ edu.safe.end.format('YYYY') }}<span></h3>
        {% }); %}

      </section>
{% } %}

{% if ( r.service && r.service.history && r.service.history.length ) { %}
      <section id="volunteer">
        <header>
        <h2><span class="fa fa-child" style="vertical-align: top;"></span> Service</h2><hr>
        </header>
        {% r.service.history.forEach( function( vol, idx, ar ) { %}
          <h3><em>{{ vol.position }}</em>, {{ filt.link(vol.organization, vol.url) }} <span class="tenure">{{ vol.safe.start.format('YYYY') }} &mdash; {{ vol.safe.end.format('YYYY') }}<span></h3>
          <p style="clear: both;">{{ vol.summary }}</p>
          {% if( vol.highlights ) { %}
            <ul>
            {% vol.highlights.forEach( function( high, idx, ar) { %}
              <li>{{ high }}</li>
            {% }); %}
            </ul>
          {% } %}
        {% }); %}

      </section>
{% } %}

{% if( r.writing && r.writing.length ) { %}
      <section id="publications">
        <header>
        <h2><span class="fa fa-book"></span> Writing</h2><hr>
        </header>
        {% r.writing.forEach( function( pub, idx, ar ) { %}
          <h3><em>{{ filt.link( pub.title, pub.url ) }}</em>, {{ pub.publisher }} <span class="tenure">{{ pub.safe.date.format('YYYY') }}</span></h3>

        {% if (pub.summary) { %}{{ pub.summary }}{% } %}

        {% }); %}
      </section>
{% } %}

{% if( r.recognition && r.recognition.length ) { %}
      <section id="awards">
        <header>
        <h2><span class="fa fa-trophy"></span> Awards</h2><hr>
        </header>
        {% r.recognition.forEach( function( award, idx, ar) { %}
          <h4><span class="res-label">{{ award.title }}</span>, {{ award.from }} <span class="tenure">{{ award.safe.date.format('YYYY') }}</span></h4>
          {{ award.summary }}
        {% }); %}
      </section>
{% } %}

    </main>
  </body>
</html>
