<!DOCTYPE html>
<!-- [[[
title: Modern (PDF)
description: An HTML-driven PDF resume template for FluentCV's "minimist" theme.
engine: Underscore
]]] -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ r.name }}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{ headFragment }}
    <style>
    {{ cssInfo.data }}
    </style>
  </head>
  <body>
    <main id="main">
      <div id="container">
      <header>
        <h1>{{ r.name }}</h1>
        <div id="contact">
          {% if (r.contact.email) { %}<div class="email">{{ RAW.contact.email }}</div>{% } %}
          {% if (r.contact.phone) { %}<div class="phone">{{ RAW.contact.phone }}</div>{% } %}
          {% if (r.contact.website) { %}<div class="website"><a href="{{ RAW.contact.website }}">{{ RAW.contact.website }}</a></div>{% } %}
        </div>
      </header>

{% if ( r.info.brief && r.info.brief.length ) { %}
      <hr>
      <section id="summary">
        <h3>{% print(h.sectionTitle('info', 'About')) %}</h3>
        <span class="fa fa-lg fa-user"></span>
        {{ r.info.brief }}
      </section>
{% } %}


{% if ( r.skills && r.skills.sets ) { %}
      <hr>
      <section id="skills">
        <header>
        <h3>{% print(h.sectionTitle('Skills')) %}</h3>
        </header>
        <span class="fa fa-lg fa-code"></span>

        <ul class="list-unstyled">
          {% r.skills.sets.forEach( function(set) { %}
            <li class="card card-nested card-skills">
              <div class="skill-level" rel="tooltip" title="{{ set.level }}" data-placement="left">
                <div class="skill-progress {{ set.level }}"></div>
              </div>
              <div class="skill-info">
                <strong>{{ set.name }}</strong>
                <div class="space-top labels">
                  {% if( set.skills && set.skills.length ) { %}
                    {% set.skills.forEach(function(kw) { %}
                      <span class="label label-keyword">{{ kw }}</span>
                    {% }); %}
                  {% } %}
                </div>
              </div>
            </li>
          {% }); %}
        </ul>


      </section>
{% } %}



{% if ( r.employment.history && r.employment.history.length ) { %}
      <hr>
      <section id="employment">
        <header>
        <h3>{% print(h.sectionTitle("Employment")) %}</h3>
        </header>
        <span class="fa fa-lg fa-building"></span>
        {% r.employment.history.forEach( function( proj, idx, ar) { %}
          {% if( proj.url && proj.url.length ) { %}
          <h4><span class="res-label">{{ proj.position }}</span>, <a href="{{ proj.url }}">{{ proj.employer }}</a></h4>
          {% } else { %}
          <h4><span class="res-label">{{ proj.position }}</span>, <span class="defunct">{{ proj.employer }}</span></h4>
          {% } %}
          <span class="tenure">{{ proj.safe.start.format('YYYY-MM') }}&mdash;{{ proj.safe.end.format('YYYY-MM') }}</span>
          {{ proj.summary }}
          {% if( proj.highlights ) { %}
            <ul>
            {% proj.highlights.forEach( function( high, idx, ar) { %}
              <li>{{ high }}</li>
            {% }); %}
            </ul>
          {% } %}
        {% }); %}

      </section>
{% } %}



{% if ( r.education.history && r.education.history.length ) { %}
      <hr>
      <section id="education">
        <header>
        <h3>{% print(h.sectionTitle("Education")) %}</h3>
        </header>
        <span class="fa fa-lg fa-mortar-board"></span>
        {% r.education.history.forEach( function( edu, idx, ar) { %}
          <h4>{{ edu.institution }}</h4>
          <span class="tenure">{{ edu.safe.start.format('YYYY-MM') }}&mdash;{{ edu.safe.end.format('YYYY-MM') }}</span>
          {% if( edu.courses ) { %}
            <ul>
            {% edu.courses.forEach( function( course, idx, ar) { %}
              <li>{{ course }}</li>
            {% }); %}
            </ul>
          {% } %}
        {% }); %}

      </section>
{% } %}

{% if( r.recognition && r.recognition.length ) { %}
      <hr>
      <section id="awards">
        <header>
        <h3>{% print( h.sectionTitle("recognition", "Awards")) %}</h3>
        </header>
        <span class="fa fa-lg fa-trophy"></span>
        {% r.recognition.forEach( function( award, idx, ar) { %}
          <h4><span class="res-label">{{ award.title }}</span>, {{ award.from }}</h4>
          <span class="tenure">{{ award.date }}</span>
          {{ award.summary }}
        {% }); %}
      </section>
{% } %}

{% if( r.writing && r.writing.length ) { %}
      <hr>
      <section id="publications">
        <header>
        <h3>{% print( h.sectionTitle("writing", "Publications")) %}</h3>
        </header>
        <span class="fa fa-lg fa-pencil"></span>
        {% r.writing.forEach( function( pub, idx, ar) { %}
          <h4>
            <span class="res-label">{{ filt.link(pub.title, pub.url) }}</span>&nbsp;{{ pub.publisher }}
          </h4>
        <span class="tenure">Published on: {{ pub.safe.date.format('YYYY-MM') }}</span>



        {% }); %}
      </section>
{% } %}

{% if ( r.service && r.service.history && r.service.history.length ) { %}
      <hr>
      <section id="volunteer">
        <header>
        <h3>{% print(h.sectionTitle("service", "Volunteer Work")) %}</h3>
        </header>
        <span class="fa fa-lg fa-child"></span>
        {% r.service.history.forEach( function( vol, idx, ar) { %}
          {% if( vol.url && vol.url.length ) { %}
          <h4><span class="res-label">{{ vol.position }}</span>, <a href="{{ vol.website }}">{{ vol.organization }}</a></h4>
          {% } else { %}
          <h4><span class="res-label">{{ vol.position }}</span>, <span class="defunct">{{ vol.organization }}</span></h4>
          {% } %}
          <span class="tenure">{{ vol.safe.start.format('YYYY-MM') }}&mdash;{{ vol.safe.end.format('YYYY-MM') }}</span>
          {{ vol.summary }}
          {% if( vol.highlights ) { %}
            <ul>
            {% vol.highlights.forEach( function( high, idx, ar) { %}
              <li>{{ high }}</li>
            {% }); %}
            </ul>
          {% } %}
        {% }); %}

      </section>
{% } %}


      </div>
    </main>
  </body>
</html>
