{{#section "employment"}}
<hr>
<section id="employment">
  <header>
  <h2>{{{sectionTitle "Employment"}}}</h2>
  </header>
  {{#> icon-employment }}{{/icon-employment}}
  {{#each r.employment.history}}
      <h3><em>{{ position }}</em>,
        {{#if url }}
        <a href="{{ url }}">{{ employer }}</a>
        {{else}}
        {{ employer }}
        {{/if}}
        </h3>
        <span class="tenure">{{dateRange .}}</span>
      <p style="clear: both;">{{{ summary }}}</p>
      {{#if highlights}}
        <ul>
        {{#each highlights}}
          <li>{{{ this }}}</li>
        {{/each}}
        </ul>
      {{/if}}
  {{/each}}
</section>
{{/section}}
