{{#section "employment"}}
<hr>
<section id="employment">
  {{#> header-employment }}
    {{> header-icon _title="EMPLOYMENT" _section="employment" _hdricon=(lookup . '_icon') }}
  {{/header-employment}}

  {{#each r.employment.history}}
    <div>
      <h3><em>{{ position }}</em>,
        {{#if url }}
        <a href="{{{ url }}}">{{ employer }}</a>
        {{else}}
        {{ employer }}
        {{/if}}
        </h3>
        <span class="tenure">{{dateRange .}}</span>
        {{#if keywords}}
        | <span class="keywords">{{#each keywords}}{{{ . }}} {{/each}}</span>
        {{/if}}
      <p>{{{ summary }}}</p>
      {{> highlights }}
    </div>
  {{/each}}
</section>
{{/section}}
