{{#section "employment"}}
<hr>
<section id="employment">
  <header>
  <h2>{{{sectionTitle "Employment"}}}</h2>
  {{#> icon-employment }}{{/icon-employment}}
  </header>
  {{#each r.employment.history}}
    <div>
      <h3><em>{{ position }}</em>,
        {{#if url }}
        <a href="{{ url }}">{{ employer }}</a>
        {{else}}
        {{ employer }}
        {{/if}}
        </h3>
        <span class="tenure">{{dateRange .}}</span>
        {{#if keywords}}
        | <span class="keywords">{{#each keywords}}{{{ . }}} {{/each}}</span>
        {{/if}}
      <p style="clear: both;">{{{ summary }}}</p>
      {{#if highlights}}
        <ul>
        {{#each highlights}}
          <li>{{{ this }}}</li>
        {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/each}}
</section>
{{/section}}
