{{#has 'info.brief'}}
<hr>
<section id="summary">
  {{#> header-info }}
    {{> header-icon _title="About" _section="info" _hdricon=(lookup . '_icon') }}
  {{/header-info}}
  {{#> body-info }}
    {{{ r.info.brief }}}
  {{/body-info}}
</section>
{{/has}}
