{{#section 'samples'}}
<hr>
<section id="samples">
  <header>
  <h2>{{{sectionTitle "Samples"}}}</h2>
  </header>
  {{#> icon-samples }}{{/icon-samples}}
  {{#each r.samples}}
    <h3>
    {{#if url}}
    <a href="{{{ url }}}">{{ title }}</a>
    {{else}}
    {{ title }}
    {{/if}}
    <span class="tenure">{{formatDate safe.date 'YYYY-MM'}}</span></h3>
    {{{ summary }}}
    {{#if highlights}}
      <ul>
      {{#each highlights}}
        <li>{{{ this }}}</li>
      {{/each}}
      </ul>
    {{/if}}
  {{/each}}
</section>
{{/section}}
