{{#section "service"}}
<hr>
<section id="volunteer">
  <header>
  <h2>{{{sectionTitle "Service"}}}</h2>
  </header>
  {{#> icon-service }}{{/icon-service}}
  {{#each r.service.history}}
    <h3><em>{{ position }}</em>,
      {{#if url}}
      <a href="{{ url }}">{{ organization }}</a>
      {{else}}
      {{ organization }}
      {{/if}}
    </h3>
    <span class="tenure">{{dateRange .}}<span>
    <p style="clear: both;">{{{ summary }}}</p>
    {{#if highlights}}
      <ul>
      {{#each highlights}}
        <li>{{{ this }}}</li>
      {{/each}}
      </ul>
    {{/if}}
  {{/each}}
</section>
{{/section}}
