{{#section "skills"}}
<hr>
<section id="skills">
  {{#> header-skills }}
    {{> header-icon _title="SKILLS" _section="skills" _hdricon=(lookup . '_icon') }}
  {{/header-skills}}
  <table>
    <thead>
      <tr>
        <th>Skill</th>
        <th>Keywords</th>
      </tr>
    </thead>
    <tbody>
      {{#each r.skills.sets}}
      <tr>
        <td style="width: 25%;">{{ name }}</td>
        <td class="keywords">{{#each skills}}{{ . }} {{/each}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
{{/section}}
