{{#section "writing"}}
<hr>
<section id="writing">
  {{#> header-writing }}
    {{> header-simple _title="WRITING" _section="writing" }}
    {{#> icon-writing }}{{/icon-writing}}
  {{/header-writing}}
  {{#each r.writing }}
    <div>
    <h3><em>{{#if url}}<a href="{{{ url }}}">{{{ title }}}</a>{{else}}{{{ title }}}{{/if}}</em>,
      {{ publisher.name }}</h3>
      <span class="tenure">{{formatDate safe.date 'YYYY'}}</span>
      {{{ summary }}}
      {{> highlights }}
    </div>
  {{/each}}
</section>
{{/section}}
