body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

main {
  max-width: 800px;
  margin: 3em auto;
}

main > header {
  position: relative;
}

thead {
  display: none;
}

#contact {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 8px;
  text-align: right;
  font-size: 75%;
  font-weight: 600;
}

#summary {
  font-style: italic;
}

#employment h3, #employment .tenure {
  font-size: 20px;
  font-weight: bold;
}

#employment h3 {
  float: left;
  width: 100%;
}

.tenure {
  color: #ABABAB;
  float: right;
  text-align: right;
}

.keywords {
  color: #037FD6;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

td {
  padding: 10px 0;
}
