<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ r.name }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="resume.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
      <header>
        <h1>{{ r.name }}</h1>
        <div id="contact">
          {% if (r.contact.email) { %}<div class="email">{{ r.contact.email }}</div>{% } %}
          {% if (r.contact.phone) { %}<div class="phone">{{ r.contact.phone }}</div>{% } %}
          {% if (r.contact.website) { %}<div class="website"><a href="{{ r.contact.website }}">{{ r.contact.website }}</a></div>{% } %}
        </div>
      </header>


{% if ( r.summary && r.summary.length ) { %}
      <section id="summary">
        {{ r.summary|md }}
      </section>
{% } %}


{% if ( r.skills && r.skills.length ) { %}
      <section id="skills">
        <header>
        <h2>Skills</h2><hr>
        </header>
        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th>Keywords</th>
            </tr>
          </thead>
          <tbody>
            {% r.skills.forEach( function( skill, idx, ar) { %}
            <tr>
              <td style="width: 25%;">{{ skill.name }}</td>
              <td class="keywords">{{ skill.level }}</td>
            </tr>
            {% }); %}
          </tbody>
        </table>
      </section>
{% } %}



{% if ( r.employment && r.employment.history && r.employment.history.length ) { %}
      <section id="employment">
        <header>
        <h2>Employment</h2><hr>
        </header>
        {% r.employment.history.forEach( function( proj, idx, ar) { %}
          <h3>{{ proj.employer }} <span class="tenure">{{ proj.safe.start.format('YYYY-MM') }}&mdash;{{ proj.safe.end.format('YYYY-MM') }}<span></h3>
          {% if( proj.summary && proj.summary.length ) { %}<p style="clear: both;">{{ proj.summary|md }}</p>{% } %}
          {% if( proj.highlights ) { %}
            <ul>
            {% proj.highlights.forEach( function( high, idx, ar) { %}
              <li>{{ high|md }}</li>
            {% }); %}
            </ul>
          {% } %}
        {% }); %}

      </section>
{% } %}



{% if ( r.education && r.education.history && r.education.history.length ) { %}
      <section id="education">
        <header>
        <h2>Education</h2><hr>
        </header>
        {% r.education.history.forEach( function( edu, idx, ar) { %}
          <h3>{{ edu.institution }} <span class="tenure">{{ edu.safe.start.format('YYYY-MM') }}&mdash;{{ edu.safe.end.format('YYYY-MM') }}<span></h3>
          {% if( edu.summary && edu.summary.length ) { %}<p style="clear: both;">{{ edu.summary|md }}</p>{% } %}
          {% if( edu.curriculum ) { %}
            <ul>
            {% edu.curriculum.forEach( function( course, idx, ar) { %}
              <li>{{ course|md }}</li>
            {% }); %}
            </ul>
          {% } %}
        {% }); %}

      </section>
{% } %}


    </main>
  </body>
</html>
