html, body, main, section, header, ul, p, h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 0; padding: 0;
  display: block;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
}

main {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

section {
  margin-top: 1em;
}

li {
  margin-left: 2em;
}

h3 {
  margin-top: 1em;
}

p, li {
  text-align: justify;
}

.tenure {
  float: right;
}

thead {
  display: none;
}

main > header {
  width: 100%;
  float: left;
  margin-bottom: 1em;
}


main > header > h1 {
  float: left;
}
#contact {
  float: right;
}

#contact > div {
  display: inline-block;
  margin-left: 5px;
}
