html, body, main, section, header, ul, p, h1, h2, h3 {
  font-family: Calibri, 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0; padding: 0;
  display: block;
}

a {
  color: #0064BD;
  text-decoration: none;
}

a:visited {
  color: #7B0796;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-size:
}

h2 {
  text-transform: uppercase;
  color: #898989;
  font-size: 2em;
  position: relative;
  font-weight: 400;
}

h3, .tenure {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
  width: 85%;
  float: left;
}

table {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3em;
}

td:first-child {
  text-align: right;
  color: #c00000;
  /* letter-spacing: 2px; PDF hates letter spacing */
  font-weight: bold;
}

td:last-child {
  text-align: justify; /* HTML justification sucks, but in this case... */
}

hr {
  display: none;
}

main {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-top: 2em;
}

section > div {
  margin-top: 1em;
  overflow: hidden; /* Clear floated children */
}

section > div p {
  clear: both;
}

section > header {
  position: relative;
}

p + ul {
  margin: 1em;
}

ul {
  clear: both;
}

li {
  margin-left: 2em;
}

p, li {
  text-align: justify;
}

.tenure {
  float: right;
  color: #6F6F6F;
  background-color: #F5F5F5;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 85%;
}

span.keywords {
  font-size: 12px;
  color: #B16666;
}

thead {
  display: none;
}

main > header {
  width: 100%;
  float: left;
  margin-bottom: 1em;
}

h1 {
  float: left;
}

h1, h2, .label {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

#contact {
 clear: both;
 float: right;
 margin-top: 2px;
}

#contact span + span {
  margin-left: 10px;
}

header > span.fa {
  text-align: center;
  margin-right: 3px;
  position: absolute;
  width: 40px;
  top: 10px;
  font-size: 30px;
  /*transform: translateX(-110%); PDF no likey */
  margin-left: -50px;
  color: #DADADA;
}

.label {
  float: right;
  color: #DADADA;
}

#summary {
  color: #717171;
  font-size: 1.25em;
  margin-top: 6em;
}

#skills td {
  padding-top: 7px;
  padding-bottom: 7px;
}
